{% load static %}
{% block extrahead %}
  <link href="{% static 'css/hotels.css' %}" rel="stylesheet">
{% endblock extrahead %}
<div class="row">
    <!-- {% for hotel in hotels %}
    <div class="col-lg-4">
             <div class="cardcontainer">
                 <div class="photo"> <img src="{{hotel.hotelImage.url}}">
                     
                 </div>
                 <div class="content">
                     <p class="txt4"> <strong>{{hotel.name}}</strong></p>
                 <br>
                     <p class="txt2">{{hotel.description}}</p>
                 </div>
                    <div class="footer">
                     <p><a class="btn btn-primary" style="background-color: #5cb874; border-color: #5cb874;" href="#">{{hotel.location}}</a></p>
                 </div>
             </div>
    </div>
    {% endfor %} -->
    <div class="col-lg-4">
        
             <div class="cardcontainer">
                 <div class="photo"> <img src="{% static 'img/clients/cher lando.jpg' %}">
                     
                 </div>
                 <div class="content">
                     <p class="txt4"> <strong>Cher Lando Hotel</strong></p>
                 </br>
                     <p class="txt2">In a commercial area, this informal hotel in a redbrick building is 3 km from Kigali International Airport, 8 km from the Kigali Genocide Memorial Centre and 9 km from the Kandt House
                        Museum of Natural History.
                        
                         </p>
                 </div>
                    <div class="footer">
                     <p><a class="btn btn-primary" style="background-color: #5cb874; border-color: #5cb874;" <a class="cta-btn align-middle" href="{% url 'contact_us' %}">Book Now</a></p>
                 </div>
             </div>
    </div>
    <div class="col-lg-4">
        
             <div class="cardcontainer">
                 <div class="photo"> <img src="{% static 'img/clients/millecol.jpg' %}">
                     
                 </div>
                 <div class="content">
                    <p class="txt4"> <strong>Mille Collines</strong></p>
                </br>
                    <p class="txt2">Hôtel des Mille Collines offers one of the most breathtaking views over the hills of Kigali.</p>
                 </div>
                 <div class="footer">
                     <p><a class="btn btn-primary" style="background-color: #5cb874; border-color: #5cb874;" <a class="cta-btn align-middle" href="{% url 'contact_us' %}">Book Now</a></p></div>
             </div>
    </div>
    <div class="col-lg-4">
      
             <div class="cardcontainer">
                 <div class="photo"> <img src="{% static 'img/clients/saintfamille.jpg' %}">
                     
                 </div>
                 <div class="content">
                    <p class="txt4"><strong>Sainte Famille Hotel</strong></p>
                </br>
                    <p class="txt2">Set in Kigali, 2.3 km from Belgian Peacekeepers Memorial, Sainte Famille Hotel offers accommodation with a restaurant, free private parking, a fitness centre and a bar.</p>
                 </div>
                 <div class="footer">
                     <p><a class="btn btn-primary" style="background-color: #5cb874; border-color: #5cb874;" <a class="cta-btn align-middle" href="{% url 'contact_us' %}">Book Now</a></p>
                 </div>
             </div>
    </div>
    
    <center><p><a class="btn btn-primary" style="background-color: #5cb874; border-color: #5cb874;" href="{% url 'hotels_details'%}">View All Hotels</a></center>
</div>

</section><!-- End Cta Section -->
{% block extrascripts %}
<script src="{% static 'js/hotels.js' %}"></script>
{% endblock extrascripts %}